{% extends 'layout.html' %}
{% block banner %}
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Encuentra un viaje hacia tu destino.</h1>
        </header>
        {% if resultado %}
            <a> {{resultado}} </a>
        {% endif%}    
        {% if form %}
            <form method="post" action="{{url_for('viaje_bp.BuscarViaje')}}">
            {{ form.hidden_tag() }}
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    {{ form.origen(type="text",  id="origen", value="", placeholder="Origen") }}
                    <div>
                        {% for error in form.origen.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6 col-12-xsmall">
                    {{ form.destino(type="text",  id="destino", value="", placeholder="Destino") }}
                    <div>
                        {% for error in form.destino.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6 col-12-xsmall">
                    {{ form.fecha_inicio(type="text",  id="fecha_inicio", value="", placeholder="Fecha") }}
                    <div>
                        {% for error in form.fecha_inicio.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6 col-12-xsmall">
                    {{ form.hora_inicio(type="text",  id="hora_inicio", value="", placeholder="Horario") }}
                    <div>
                        {% for error in form.hora_inicio.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                </div>
                <!-- Break -->
                <div class="col-12">
                    <ul class="actions">
                        <li>{{ form.submit(type="submit", value="Buscar Viaje") }}</li>
                    </ul>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
    <img src="{{url_for('static', filename = 'images/logo.png')}}" alt="" />
</section>
{% endblock %}
{% block section %}
<!-- Section -->
<section>
    <header class="major">
        <h2>¿Compartir coche? Por qué no...</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-gem"></span>
            <div class="content">
                <h3>Ahorrás</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-paper-plane"></span>
            <div class="content">
                <h3>Socializás</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-rocket"></span>
            <div class="content">
                <h3>Cuidas el planeta</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-signal"></span>
            <div class="content">
                <h3>y muchas cosas mas...</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
    </div>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>Últimos viajes agregados.</h2>
    </header>
    <div class="posts">
        <article>
            <h3 style="margin-bottom: 0px;">
                <a class="fas fa-map-marker-alt" style="margin-right: 10px;"></a>
                Pilar, Buenos Aires
            </h3>
            <h3 style="margin-bottom: 0px;">
                <a class="fas fa-chevron-down fa-xs"></a>
            </h3>
            <h3>
                <a class="fas fa-map-marker-alt" style="margin-right: 10px;"></a>
                Colón, Entre Ríos
            </h3>
            <p style="margin-bottom: 0px;">
                <a class="fas fa-calendar-day" style="margin-right: 10px;"></a>
                Domingo 15 de Argosto 2023
            </p>
            <p>
                <a class="fas fa-clock" style="margin-right: 10px;"></a>
                15.00 hs.
            </p>
            <ul class="actions">
                <li><a href="#" class="button">Ver</a></li>
            </ul>
        </article>
        <article>
            <h3 style="margin-bottom: 0px;">
                <a class="fas fa-map-marker-alt" style="margin-right: 10px;"></a>
                Pilar, Buenos Aires
            </h3>
            <h3 style="margin-bottom: 0px;">
                <a class="fas fa-chevron-down fa-xs"></a>
            </h3>
            <h3>
                <a class="fas fa-map-marker-alt" style="margin-right: 10px;"></a>
                Colón, Entre Ríos
            </h3>
            <p style="margin-bottom: 0px;">
                <a class="fas fa-calendar-day" style="margin-right: 10px;"></a>
                Domingo 15 de Argosto 2023
            </p>
            <p>
                <a class="fas fa-clock" style="margin-right: 10px;"></a>
                15.00 hs.
            </p>
            <ul class="actions">
                <li><a href="#" class="button">Ver</a></li>
            </ul>
        </article>
    </div>
</section>
                
<h2 class="major">ACCIONES</h2>
<a class="special" href="{{url_for('vehiculo_bp.Vehiculo')}}">Nuevo Vehiculo</a>
<a class="special" href="{{url_for('viaje_bp.PublicarViaje')}}">Publicar viaje</a>


{% endblock %}