{% extends 'layout.html' %}
{% block section %}
<section>
    <!-- Elements -->
    <h2 id="elements">Viajes Publicados</h2>

        {% if viajes %}
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th scope="col">Conductor</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Fecha Salida</th>
                            <th scope="col">Hora Salida</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for viaje in viajes %}
                            <tr>
                                <td> {{ viaje.usuario.email}}</td>
                                <td> {{ viaje.direccion_inicial}}</td>
                                <td> {{ viaje.direccion_final}}</td>
                                <td> {{ viaje.fecha_inicio.date()}}</td>
                                <td> {{ viaje.fecha_inicio.time()}}</td>
                                <td> 
                                    <a href="{{url_for('viaje_bp.VerViaje', idViaje=viaje.id)}}">Ver viaje</a>
                                    {% if current_user.id != viaje.usuario.id %}
                                        <a href="{{url_for('viaje_bp.SolicitarViaje', idViaje=viaje.id)}}">Solicitar viaje</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    {% if mensaje %}
        <a>{{mensaje}}</a>
    {% endif %}
</section>
{% endblock %}
