<html>
	<head>
		<title>LLEVAPPME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    </head>
	<body>
        {% if mensaje %}
            <a>{{mensaje}}</a>
        
        {% endif %}
        {% if solicitudesPasajero %}
            <section>
                <table>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Conductor</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Fecha Salida</th>
                            <th scope="col">Hora Salida</th>
                            <th scope="col">Estado Solicitud</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                        
                    <tbody>
                        {% for solicitud in solicitudesPasajero %}
                            <tr>
                                <td> {{ solicitud.viaje.usuario.email}}</td>
                                <td> {{ solicitud.viaje.direccion_inicial}}</td>
                                <td> {{ solicitud.viaje.direccion_final}}</td>
                                <td> {{ solicitud.viaje.fecha_inicio.date()}}</td>
                                <td> {{ solicitud.viaje.fecha_inicio.time()}}</td>
                                <td> {{ solicitud.estado.descripcion}}</td>
                                <td> 
                                    <a href="{{url_for('viaje_bp.VerViaje', idViaje=solicitud.id_viaje)}}">Ver viaje</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>						
            </section>
        {% endif %}
        <a href="{{url_for('usuario_bp.Logout')}}">Salir</a>
	</body>
</html>