{% extends 'layout.html' %}
{% block section %}
<section>
    <!-- Elements -->
    <h2 id="elements">Elements</h2>
        {% if viaje %}
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th scope="col">Pasajero</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pasajero in viaje.pasajeros %}
                            <tr>
                                <td> {{ pasajero.usuario.email}}</td>
                                <td> {{ pasajero.estado.descripcion}}</td>
                                <td> 
                                    <a href="{{url_for('viaje_bp.AceptarPasajero', idViaje=viaje.id, idPasajero=pasajero.id)}}">Aceptar</a>
                                    <a href="{{url_for('viaje_bp.RechazarPasajero', idViaje=viaje.id, idPasajero=pasajero.id)}}">Rechazar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% if mensaje %}
        <a>{{mensaje}}</a>
    {% endif %}
</section>
{% endblock %}