{% extends 'layout.html' %}
{% block section %}
<section style = "padding-top: 20px;">
    <!-- Elements -->
    <h2 class="major">Suscripciones de viaje</h2>
        {% if solicitudesPasajero %}
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th scope="col">Conductor</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Fecha Salida</th>
                            <th scope="col">Hora Salida</th>
                            <th scope="col">Estado Solicitud</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for solicitud in solicitudesPasajero %}
                            <tr>
                                <td> {{ solicitud.viaje.conductor.usuario.email}}</td>
                                <td> {{ solicitud.viaje.ubicacion.direccion_inicial}}</td>
                                <td> {{ solicitud.viaje.ubicacion.direccion_final}}</td>
                                <td> {{ solicitud.viaje.fecha_inicio.date()}}</td>
                                <td> {{ solicitud.viaje.fecha_inicio.time()}}</td>
                                <td> {{ solicitud.estado.descripcion}}</td>
                                <td> 
                                    <a href="{{url_for('viaje_bp.VerViaje', idViaje=solicitud.id_viaje)}}">Ver viaje</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h4>No tiene solicitudes</h4>
        {% endif %}

        {% if mensaje %}
            <a>{{mensaje}}</a>
        {% endif %}
</section>
{% endblock %}