{% extends 'layout.html' %}
{% block section %}
<!-- Section -->
<section style = "padding-top: 20px;">
    <header class="major">
        <h2>Nuevo Viaje</h2>
    </header>
    {% if form %}
        <form method="post" action="{{url_for('viaje_bp.PublicarViaje')}}">
        {{ form.hidden_tag() }}
        <div class="row gtr-200">
            <div class="col-9 col-12-medium">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        <h5>Origen</h5>
                        {{ form.origen(type="text",  id="origen", onclick='autocompletar("origen")', placeholder="Origen") }}
                        <div>
                            {% for error in form.origen.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <h5>Destino</h5>
                        {{ form.destino(type="text",  id="destino", onclick='autocompletar("destino")', placeholder="Destino") }}
                        <div>
                            {% for error in form.destino.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <h5>Vehiculo</h5>
                        {{ form.vehiculo(type="text",  id="vehiculo", value="", placeholder="vehiculo") }}
                        <div>
                            {% for error in form.vehiculo.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <h5>Asientos disponibles</h5>
                        {{ form.cantidad_asientos(type="tel",  id="asientos", value="", placeholder="Cantidad asientos disponibles") }}
                        <div>
                            {% for error in form.cantidad_asientos.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <h5>Fecha</h5>
                        {{ form.fecha_inicio(type="date",  id="fecha_inicio", value="", placeholder="Fecha") }}
                        <div>
                            {% for error in form.fecha_inicio.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <h5>Hora</h5>
                        {{ form.hora_inicio(type="time",  id="hora_inicio", value="", placeholder="Horario") }}
                        <div>
                            {% for error in form.hora_inicio.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 col-12-medium">
                <h4 style="margin-top: 13px;">Adicionales</h4>
				<div class="box" style="padding-bottom: 0px;">
                    <div class="col-4 col-12-small">
                        {{ form.equipaje(type="checkbox") }}
                        {{ form.equipaje.label() }}
                        <div>
                            {% for error in form.equipaje.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-4 col-12-small">
                        {{ form.mascota(type="checkbox") }}
                        {{ form.mascota.label() }}
                        <div>
                            {% for error in form.mascota.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-4 col-12-small">
                        {{ form.alimentos(type="checkbox") }}
                        {{ form.alimentos.label() }}
                        <div>
                            {% for error in form.alimentos.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Break -->
            <div class="col-12" style="margin-top: 20px;">
                <ul class="actions">
                    <li>{{ form.submit(type="submit", value="Publicar") }}</li>
                </ul>
            </div>
        </div>
    </form>
    {% endif %}

{% endblock %}