{% extends 'layout.html' %}
{% block section %}
<section>
    <header class="major">
        <h2>Resultados Obtenidos:</h2>
    </header>
    <div class="posts">
        {% if viajes %}
            {% for viaje in viajes %}
                <article>
                    <h3 style="margin-bottom: 0px;">
                        <a class="fas fa-map-marker-alt" style="margin-right: 10px;"></a>
                        {{viaje.direccion_inicial}}
                    </h3>
                    <h3 style="margin-bottom: 0px;">
                        <a class="fas fa-chevron-down fa-xs"></a>
                    </h3>
                    <h3>
                        <a class="fas fa-map-marker-alt" style="margin-right: 10px;"></a>
                        {{viaje.direccion_final}}
                    </h3>
                    <p style="margin-bottom: 0px;">
                        <a class="fas fa-calendar-day" style="margin-right: 10px;"></a>
                        {{ formato_fecha(viaje.fecha_inicio) }}
                    </p>
                    <p>
                        <a class="fas fa-clock" style="margin-right: 10px;"></a>
                        {{ formato_hora(viaje.fecha_inicio) }}
                    </p>
                    <ul class="actions">
                        <li><a href="{{url_for('viaje_bp.VerViaje',idViaje=viaje.id)}}" class="button">Ver</a></li>
                    </ul>
                </article>
            {% endfor %}
        {% endif %}
    </div>
</section>
                
<h2 class="major">ACCIONES</h2>
<a class="special" href="{{url_for('vehiculo_bp.Vehiculo')}}">Nuevo Vehiculo</a>
<a class="special" href="{{url_for('viaje_bp.PublicarViaje')}}">Publicar viaje</a>


{% endblock %}