{% extends 'layout.html' %}
{% block section %}

        {% if viaje %}
            <a>DETALLE DE VIAJE</a><br><br>
            <a>Origen: {{viaje.direccion_inicial}}</a>
            <br>
            <a>Destino: {{viaje.direccion_final}}</a>
            <br>
            <a>Tiempo estimado: </a>
            <br>
            <a>Distancia: {{viaje.distancia}} KM.</a>
            <br>
            <a>Asientos Disponibles: {{viaje.asientos_disponibles}}</a>
            <br>
        
            {% if ((solicitud) and (current_user.id != viaje.usuario.id)) %}
                <a href="{{url_for('viaje_bp.SolicitarViaje', idViaje=viaje.id)}}">Solicitar Viaje</a>
            {% elif current_user.id == viaje.usuario.id %}
                <a href="{{url_for('viaje_bp.VerPasajeros', idViaje=viaje.id)}}">Ver Pasajeros</a>
            {% endif %}
        {% endif %}
        {% if mensaje %}
            <a>{{mensaje}}</a>
        {% endif %}

        <div id="map" style="height: 400px;"
             data-lat-inicial="{{ viaje.latitud_inicial }}"
             data-lng-inicial="{{ viaje.longitud_inicial }}"
             data-lat-final="{{ viaje.latitud_final }}"
             data-lng-final="{{ viaje.longitud_final }}"></div>
      
          
        </article>
        {% endblock %}