<html>
	<head>
		<title>LLEVAPPME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <style>
            #map {
            height: 50%;
            width: 50%;
            }

            /* 
            * Optional: Makes the sample page fill the window. 
            */
            html,
            body {
            height: 100%;
            margin: 0;
            padding: 0;
            }

        </style>
    </head>
	<body>
        <a>DETALLE DE VIAJE</a><br><br>
        <a id="lat_inicial" style="display: none;" value="{{viaje.latitud_inicial}}">{{viaje.latitud_inicial}}</a>
        <a id="lng_inicial" style="display: none;" value="{{viaje.longitud_inicial}}">{{viaje.longitud_inicial}}</a>
        <a id="lat_final" style="display: none;" value="{{viaje.latitud_inicial}}">{{viaje.latitud_final}}</a>
        <a id="lng_final" style="display: none;" value="{{viaje.longitud_inicial}}">{{viaje.longitud_final}}</a>
        
        <a>Origen: {{viaje.direccion_inicial}}</a>
        <br>
        <a>Destino: {{viaje.direccion_final}}</a>
        <br>
        <a>Tiempo estimado: </a>
        <br>
        <a>Distancia: {{viaje.distancia}} KM.</a>
        <br>
        <a>Asientos Disponibles: {{viaje.cantidad_pasajeros}}</a>
        <br>
        <a>Solicitar Viaje</a>

        {% if mensaje %}
            <a>{{mensaje}}</a>
        {% endif %}

          <div id="map"></div>
      
          <script>
          function initMap() {
            lat_inicial = parseFloat(document.getElementById('lat_inicial').innerHTML);
            lng_inicial = parseFloat(document.getElementById('lng_inicial').innerHTML);
            lat_final = parseFloat(document.getElementById('lat_final').innerHTML);
            lng_final = parseFloat(document.getElementById('lng_final').innerHTML);
            console.log(lat_inicial, lng_inicial);
            console.log(lat_final, lng_final);

            var pointA = new google.maps.LatLng(lat_inicial, lng_inicial),
                pointB = new google.maps.LatLng(lat_final, lng_final),
                myOptions = {
                    zoom: 7,
                    center: pointA
                },
               
                map = new google.maps.Map(document.getElementById('map'), myOptions),
                // Instantiate a directions service.
                directionsService = new google.maps.DirectionsService,
                directionsDisplay = new google.maps.DirectionsRenderer({
                    map: map
                }),
                markerA = new google.maps.Marker({
                    position: pointA,
                    title: "Origen",
                    map: map
                }),
                markerB = new google.maps.Marker({
                    position: pointB,
                    title: "Destino",
                    map: map
                });

                // get route from A to B
            calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);

        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
            directionsService.route({
                origin: pointA,
                destination: pointB,
                avoidTolls: true,
                avoidHighways: false,
                travelMode: google.maps.TravelMode.DRIVING
            }, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
        
        window.initMap = initMap;
                
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt5KdV_gWgU2L_W7yNsJucH5XvQ_dcHq0&callback=initMap&v=weekly" defer></script>
	</body>
</html>