{% extends 'layout.html' %}
{% block section %}
    {% if viaje %}
        <section style = "padding-top: 20px;">
            <div class="row gtr-200" id="idViaje" data-id-viaje="{{viaje.id}}">
                {% if ((proximos_al_viaje(viaje.fecha_inicio)) and (current_user.id == viaje.conductor.id_usuario)) or (viaje.fecha_inicio_real) %}
                    {% if not viaje.fecha_inicio_real %}
                        <div class="col-6 col-12-medium">
                            <ul class="actions stacked">
                                <li>
                                    <a href="{{url_for('viaje_bp.IniciarViaje', idViaje=viaje.id)}}" class="button primary fit">INICIAR VIAJE</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-12-medium"></div>
                    {% else %}
                        {% if (not viaje.fecha_final_real) and (viaje.fecha_inicio_real) %}
                            <div class="col-6 col-12-medium"></div>
                            <div class="col-6 col-12-medium">
                                <ul class="actions stacked">
                                    <li>
                                        <a href="{{url_for('viaje_bp.FinalizarViaje', idViaje=viaje.id)}}" class="button primary fit">FINALIZAR VIAJE</a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <div class="col-6 col-12-medium">
                    <ul class="alt">
                        <li>
                            <h3 style="margin-bottom: 0px;">
                                <a class="fas fa-map-marker-alt" style="margin-right: 10px;"></a>
                                {{viaje.ubicacion.direccion_inicial}}
                            </h3>
                            <h3 style="margin-bottom: 0px;">
                                <a class="fas fa-chevron-down fa-xs"></a>
                            </h3>
                            <h3>
                                <a class="fas fa-map-marker-alt" style="margin-right: 10px;"></a>
                                {{viaje.ubicacion.direccion_final}}
                            </h3>
                        </li>

                        <div class="row">
                            <div class="col-6 col-12-medium">
                                <h4 style="color: #6e99ff;margin-top: 14px;margin-bottom: 5px;">Fecha y hora de salida</h4>
                                <div>
                                    <ul class="icons" style="display: inline;">
                                        <li><a class="icon solid fa-calendar-day"></a></li>
                                    </ul>
                                    <p id="fecha_inicio" data-fecha-hora="{{viaje.fecha_inicio}}" style="display: inline;margin-bottom: 0px;">{{ formato_fecha(viaje.fecha_inicio) }}</p>
                                </div>
                                <div>
                                    <ul class="icons" style="display: inline;">
                                        <li><a class="icon solid fa-clock"></a></li>
                                    </ul>
                                    <p style="display: inline;">{{ formato_hora(viaje.fecha_inicio) }}</p>
                                </div>
                            </div>
                            <div class="col-6 col-12-medium">
                                <h4 style="color: #6e99ff;margin-top: 14px;margin-bottom: 5px;">Ruta</h4>
                                <div>
                                    <ul class="icons" style="display: inline;">
                                        <li><a class="icon solid fa-route"></a></li>
                                    </ul>
                                    <p style="display: inline;margin-bottom: 0px;">{{distancia}} de distancia</p>
                                </div>
                                <div>
                                    <ul class="icons" style="display: inline;">
                                        <li><a class="icon solid fa-stopwatch"></a></li>
                                    </ul>
                                    <p style="display: inline;">{{ (duracion / 60) | round }} mins al destino.</p>
                                </div>
                            </div>
                            <div class="col-6 col-12-medium">
                                <h4 style="color: #6e99ff;margin-top: 14px;margin-bottom: 5px;">Viaje</h4>
                                <div>
                                    <ul class="icons" style="display: inline;">
                                        <li><a class="icon regular fa-id-card"></a></li>
                                    </ul>
                                    <p style="display: inline;margin-bottom: 0px;">{{viaje.conductor.usuario.nombre}} {{viaje.conductor.usuario.apellido}}</p>
                                </div>
                                <div>
                                    <ul class="icons" style="display: inline;">
                                        <li><a class="icon solid fa-car"></a></li>
                                    </ul>
                                    <p style="display: inline;margin-bottom: 0px;">Patente: {{viaje.conductor.vehiculo.patente}}</p>
                                </div>
                                <div>
                                    <ul class="icons" style="display: inline;">
                                        <li><a class="icon solid fa-chair"></a></li>
                                    </ul>
                                    <p style="display: inline;"> Asientos: {{viaje.asientos_disponibles}}</p>
                                </div>
                            </div>
                            <div class="col-6 col-12-medium">
                                <h4 style="color: #6e99ff;margin-top: 14px;margin-bottom: 5px;">Adicionales</h4>
                                <ul class="icons" style="display: inline;">
                                    <li>
                                        {% if viaje.adicional.mascota == True %}
                                            <a class="icon solid fa-paw" style="color: green;"></a>
                                        {% else %}
                                            <a class="icon solid fa-paw" style="color: red;"></a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if viaje.adicional.alimentos == True %}
                                            <a class="icon solid fa-utensils" style="color: green;"></a>
                                        {% else %}
                                            <a class="icon solid fa-utensils" style="color: red;"></a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if viaje.adicional.equipaje == True %}
                                            <a class="icon solid fa-suitcase" style="color: green;"></a>
                                        {% else %}
                                            <a class="icon solid fa-suitcase" style="color: red;"></a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ul>
                    <ul class="actions fit">
                        <li>
                            {% if current_user.id != viaje.conductor.id_usuario %}
                                {% include 'macros/pasajeros_buttons.html' %}
                            {% elif current_user.id == viaje.conductor.id_usuario %}
                                {% include 'macros/conductor_buttons.html' %}
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-12-medium">
                    <h3>Mapa</h3>
                    <div class="map-container" style="height: 300px;"
                        data-map-id = "{{viaje.id}}"
                        data-lat-inicial="{{ viaje.ubicacion.latitud_inicial }}"
                        data-lng-inicial="{{ viaje.ubicacion.longitud_inicial }}"
                        data-lat-final="{{ viaje.ubicacion.latitud_final }}"
                        data-lng-final="{{ viaje.ubicacion.longitud_final }}">
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if mensaje %}
        {{mensaje}}
    {% endif %}
    
{% endblock %}

