{% extends 'layout.html' %}
{% block section %}
{% if viajesPasajero %}
    <section style = "padding-top: 20px;">    
        <h2 class="major">PASAJERO</h2>
        
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Conductor</th>
                            <th scope="col">Fecha viaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for viaje in viajesPasajero %}
                            <tr>
                                <td> {{ viaje.ubicacion.direccion_inicial}}</td>
                                <td> {{ viaje.ubicacion.direccion_final}}</td>
                                <td> {{ viaje.conductor.usuario.email }}</td>
                                <td> {{ viaje.fecha_inicio_real.date() }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>
{% endif %} 

{% if viajesConductor %}
    <section style="padding-top: 20px;">
        <h2 class="major">CONDUCTOR</h2>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Fecha viaje</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for viaje in viajesConductor %}
                            <tr>
                                <td> {{ viaje.ubicacion.direccion_inicial}}</td>
                                <td> {{ viaje.ubicacion.direccion_final}}</td>
                                <td> {{ viaje.fecha_inicio_real.date() }}</td>
                                <td> 
                                    <a href="{{url_for('viaje_bp.VerViaje', idViaje=viaje.id)}}">Ver viaje</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>       
    </section>
{% endif %}
{% if (not viajesPasajero) and (not viajesConductor) %}
<section style = "padding-top: 20px;">
    <h2 class="major">Viajes Finalizados</h2>
    <h4 >Usted aún no ha realizado viajes.</h4>
</section>
{% endif %}

{% endblock %}

