<html>
    <a>VIAJES POR USUARIO</a><br><br>
    {% for viaje in viajes %}
        <a>{{viaje}}</a><br><br>
    {% endfor %}

    {% if mensaje %}
        <a>{{mensaje}}</a>
    {% endif %}
    <br>
    <a href="{{url_for('usuario_bp.Logout')}}">Salir</a>
    <br>
    <a href="{{url_for('vehiculo_bp.Vehiculo')}}">Nuevo Vehiculo</a>
    <br>
    <a href="{{url_for('viaje_bp.PublicarViaje')}}">Publicar viaje</a>
    <br>
    <a href="{{url_for('viaje_bp.BuscarViaje')}}">Buscar Viaje</a>
    <br>
    <a href="{{url_for('viaje_bp.MisSolicitudes')}}">Ver mis solicitudes</a>
    <br>
    <a href="{{url_for('viaje_bp.ViajesPublicados')}}">Viajes Publicados</a>
</html>