{% extends 'layout.html' %}
{% block section %}

<section style = "padding-top: 20px;">

    <header class="major">
        {% if current_user.id == usuario.id%}
            <h3 style="display: inline;"><a href="{{url_for('usuario_bp.EditarPerfil')}}" class="fa-solid fa-edit"></a></h3>
        {% endif %}
        <h2 style="margin-bottom: 5px;">{{ usuario.nombre }} {{ usuario.apellido }}</h2>
    </header>
    <p> Registrado desde: {{ formato_fecha(usuario.fecha_creacion) }} </p>
    <div class="posts">
        <article>
            <h3> Información </h3>
            
            <div>
                <h3 style="display: inline;"><a class="fa-solid fa-user"></a></h3>
                <p style="display: inline;margin-bottom: 10px;">    Edad: {{ edad }}</p>
            </div>
            <div>
                <h3 style="display: inline;"><a class="fa-solid fa-envelope"></a></h3>
                <p style="display: inline;margin-bottom: 10px;">    Correo Electrónico: {{ usuario.email }}</p>
            </div>
            <div>
                <h3 style="display: inline;"><a class="fa-solid fa-mobile-screen"></a></h3>
                <p style="display: inline;">    Teléfono: {{ usuario.telefono }}</p>
            </div>
        </article>
        <article>
            <h3> Historial de viajes </h3>
            <div>
                <h3 style="display: inline;"><a class="fa-solid fa-child-reaching"></a></h3>
                <p style="display: inline;margin-bottom: 10px;">    Viajes finalizados como Pasajero: {{ viajesPasajero }}</p>
            </div>
            <div>
                <h3 style="display: inline;"><a class="fa-solid fa-car"></a></h3>
                <p style="display: inline;">    Viajes finalizados como Conductor: {{ viajesConductor }}</p>
            </div>
        </article>
    </div>
</section>

{% endblock %}
