<html>
	<head>
		<title>LLEVAPPME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    </head>
	<body>
        <section>
            {% from "_formhelpers.html" import render_field %}
            <form method="post" action="{{url_for('usuario_bp.Registro')}}">
                {{ form.hidden_tag() }}
            <dl>
                {{ render_field(form.nombreUsuario) }}
                {{ render_field(form.apellidoUsuario) }}
                {{ render_field(form.email) }}
                {{ render_field(form.telefono) }}
                {{ render_field(form.fecha_nacimiento) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
            </dl>
            {{ render_field(form.submit) }}
            </form>
        </section>			
        
        <a href="{{url_for('usuario_bp.Login')}}">Ingresar</a>
	</body>
</html>