{% extends 'layout_login.html' %}
{% block banner %}
<!-- Banner -->
<section id="banner" style = "padding-top: 20px;">
    <div class="content">
        <header>
            <h1>Registrate</h1>
        </header>
        {% if form %}
            <form method="post" action="{{url_for('usuario_bp.Registro')}}">
            {{ form.hidden_tag() }}
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <h5>Nombre</h5>
                    {{ form.nombreUsuario(type="text",  id="nombre", value="", placeholder="Nombre") }}
                    <div>
                        {% for error in form.nombreUsuario.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6 col-12-xsmall">
                    <h5>Apellido</h5>
                    {{ form.apellidoUsuario(type="text",  id="apellido", value="", placeholder="Apellido") }}
                    <div>
                        {% for error in form.apellidoUsuario.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12">
                    <h5>Email</h5>
                    {{ form.email(type="email",  id="email", value="", placeholder="Email") }}
                    <div>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6 col-12-xsmall">
                    <h5>Teléfono</h5>
                    {{ form.telefono(type="tel",  id="telefono", value="", placeholder="Teléfono") }}
                    <div>
                        {% for error in form.telefono.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6 col-12-xsmall">
                    <h5>Fecha de nacimiento</h5>
                    {{ form.fecha_nacimiento(type="date",  id="fecha_nacimiento", value="", placeholder="Fecha de nacimiento") }}
                    <div>
                        {% for error in form.fecha_nacimiento.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6 col-12-xsmall">
                    <h5>Contraseña</h5>
                    {{ form.password(type="password",  id="password", value="", placeholder="Contraseña") }}
                    <div>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6 col-12-xsmall">
                    <h5>Repetir Contraseña</h5>
                    {{ form.confirm(type="password",  id="contrasenia_confirm", value="", placeholder="Vuelva a escribir la contraseña") }}
                    <div>
                        {% for error in form.confirm.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                </div>
                <!-- Break -->
                <div class="col-12">
                    <ul class="actions">
                        <li>{{ form.submit(type="submit", value="Registrarse") }}</li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
        {% endif %}
        <a href="{{url_for('usuario_bp.Login')}}">Volver</a>
    </div>
    <span class="image fit">
        <img src="{{url_for('static', filename = 'images/logo.png')}}" alt="" />
    </span>
    
</section>
{% endblock %}