<!DOCTYPE HTML>
<html>
	<head>
		<title>LlevAPPme</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename = 'assets/css/main.css')}}" />
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
							<header id="header">
								<a href="{{url_for('viaje_bp.BuscarViaje')}}" class="logo"><strong>LLEVAPPME</strong></a>
								{% if viaje_en_curso(current_user.id) %}
									<ul id= "idViaje" data-id-viaje= "{{viaje_en_curso(current_user.id)}}" class="icons">
										{% if session.ubicacion_activada|default(False) %}
											<li><a style="color: rgba(3, 177, 61, 0.493)"><span>Ubicación activada</span></a></li>
											<li><a href="{{url_for('viaje_bp.DesactivarUbicacion')}}" style="color: rgba(3, 177, 61, 0.493)" class="fa-solid fa-toggle-on"><span class="label"></span></a></li>
											<li><a href="#" style="color: rgba(3, 177, 61, 0.493)" class="fa-brands fa-whatsapp"><span class="label"></span></a></li>
										{% else %}
											<li><a style="color: rgba(177, 3, 3, 0.493)"><span>Ubicación desactivada</span></a></li>
											<li><a href="{{url_for('viaje_bp.ActivarUbicacion')}}" style="color: rgba(177, 3, 3, 0.493)" class="fa-solid fa-toggle-off"><span class="label"></span></a></li>
										{% endif %}
									</ul>
								{% endif %}
							</header>
							
							<!-- Flash messages -->
							{% with messages = get_flashed_messages() %}
								{% if messages %}
									<ul class=flashes>
									{% for message in messages %}
										<div id= "alerta" class="box" style="background-color: bisque;margin-top: 25px;margin-bottom: 0px;">
											<ul class="icons" style="margin-bottom: 0px;">
												<li><a href="" onclick="ocultarAlerta()" class="icon solid fa-xmark"></a></li>
											</ul>
											<p style="margin-top: 0px;">{{ message }}</p>
										</div>
									{% endfor %}
									</ul>
								{% endif %}
							{% endwith %}
							
							<!-- Banner -->
							{% block banner %}   
							{% endblock %}

							<!-- Section -->
							{% block section %}   
							{% endblock %}
								
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu" style="padding-bottom: 10px;margin-bottom: 20px;">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="{{url_for('viaje_bp.BuscarViaje')}}">Inicio</a></li>
										{% if modo_conductor() %}
											<li><a href="{{url_for('viaje_bp.PublicarViaje')}}">Publicar Viaje</a></li>
										{% endif %}
										<li>
											<span class="opener">Mis viajes</span>
											<ul>
												<li><a href="{{url_for('viaje_bp.MisSolicitudes')}}">Mis solicitudes</a></li>
												<li><a href="{{url_for('viaje_bp.ViajesFinalizados')}}">Viajes Finalizados</a></li>
												{% if modo_conductor() %}
													<li><a href="{{url_for('viaje_bp.ViajesPublicados')}}">Viajes Publicados</a></li>
													<li><a href="{{url_for('viaje_bp.ViajesCancelados')}}">Viajes Cancelados</a></li>
												{% endif %}
											</ul>
										</li>
										{% if modo_conductor() %}
											<li>
												<span class="opener">Mis Vehiculos</span>
												<ul>
													<li><a href="{{url_for('vehiculo_bp.Vehiculo')}}">Nuevo Vehiculo</a></li>
													<li><a href="{{url_for('vehiculo_bp.ListadoVehiculos')}}">Mis Vehiculos</a></li>
												</ul>
											</li>
										{% endif %}
										<li><a href="{{url_for('usuario_bp.Perfil')}}">Perfil</a></li>
										<li><a href="{{url_for('usuario_bp.Logout')}}">Salir</a></li>
									</ul>									
								</nav>
								{% if not modo_conductor() %}
								<section>
									<header class="major">
										<h2>Conductor</h2>
									</header>
									<p>Conviertete en un conductor en un simple paso, registra el vehículo con el que vas a conducir y listo.</p>
									<a href="{{url_for('vehiculo_bp.Vehiculo')}}" class="button fit">¡Vamos!</a>
								</section>
								{% endif %}
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">
										&copy; LlevAPPme. All rights reserved. 
										<br/> UTN - FRD - Proyecto final
										<br/> Ingeniería en Sistemas de Información.
										<br/> Timoteo, Jonathan, Evelyn.
									</p>
								</footer>

						</div>
					</div>

			</div>

			<script>
				var ubicacionActivadaValue = "{{ session.ubicacion_activada|default(False)|lower }}";
			</script>
			<script>
				let ubicacionActivada = ubicacionActivadaValue === "true";
				let intervaloGeolocalizacion;
				
				// Función para activar la ubicación automáticamente si la sesión está en True
				function activarUbicacionAutomaticamente() {
					if (ubicacionActivada) {
						obtenerYGuardarUbicacion(); // Comenzar la geolocalización
					}
				}
				
				// Función para obtener y guardar la ubicación
				function obtenerYGuardarUbicacion() {
				if (!ubicacionActivada) {
					console.log("La ubicación no está activada.");
					clearInterval(intervaloGeolocalizacion); // Detiene la geolocalización
					return;
				}
				
				if ("geolocation" in navigator) {
					navigator.geolocation.getCurrentPosition(function(position) {
					const latitud = position.coords.latitude;
					const longitud = position.coords.longitude;
				
					// Enviar los datos al servidor
					enviarUbicacionAlServidor(latitud, longitud);
					});
				} else {
					console.log("El navegador no admite la geolocalización.");
				}
				
				// Programar la próxima actualización después de 5 segundos
				setTimeout(obtenerYGuardarUbicacion, 5000);
				}
				
				// Obtener id de viaje en cuestion
				function obtenerIdViaje() {
				  const elementoConViaje = document.getElementById("idViaje");
				  const idViaje = elementoConViaje.getAttribute("data-id-viaje");
				  return idViaje;
				}
				
				// Función para enviar la ubicación al servidor
				function enviarUbicacionAlServidor(latitud, longitud) {
				fetch("/viaje/guardar/ubicacion", {
					method: "POST",
					headers: {
					"Content-Type": "application/json",
					},
					body: JSON.stringify({ idViaje: obtenerIdViaje(), latitud, longitud }),
				})
					.then((response) => {
					if (response.ok) {
						console.log("Ubicación guardada con éxito en el servidor.");
					} else {
						console.error("Error al guardar la ubicación en el servidor.");
					}
					})
					.catch((error) => {
					console.error("Error al realizar la solicitud al servidor: " + error);
					});
				}
				
				function ocultarAlerta() {
					const alerta = document.getElementById("alerta");
					if (alerta.style.display === 'block') {
						// Si está oculto, mostrarlo
						alerta.style.display = 'none';
					}
				}

				// Llama a la función para activar la ubicación automáticamente al cargar la página
				window.addEventListener('load', activarUbicacionAutomaticamente);
			</script>

		<!-- Scripts -->
			<script src="{{url_for('static', filename = 'assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'assets/js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'assets/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename = 'assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename = 'assets/js/main.js')}}"></script>
			<script src="{{url_for('static', filename = 'assets/js/googlemaps.js')}}"></script>
			<script src="https://kit.fontawesome.com/228c5469ee.js" crossorigin="anonymous"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPrNn6olS4yqaOK9v7ppvXnu4kXQ_x_98&libraries=places&callback=initMap&v=weekly&solution_channel=GMP_QB_addressselection_v1_cA" defer></script>
			
			{% block script %}   

			{% endblock %}
			


	</body>
</html>
