<html>
	<head>
		<title>LLEVAPPME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    </head>
	<body>
        <section>
            <table>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Patente</th>
                        <th scope="col">Max # Asientos</th>
                        <th scope="col">Descripcion</th>
                    </tr>
                </thead>
                    
                <tbody>
                    {% for vehiculo in vehiculos %}
                        <tr>
                            <td> {{ vehiculo.usuario.email}}</td>
                            <td> {{ vehiculo.vehiculo.patente}}</td>
                            <td> {{ vehiculo.vehiculo.cantidad_asientos}}</td>
                            <td> {{ vehiculo.vehiculo.descripcion}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>						

        <a href="{{url_for('usuario_bp.Logout')}}">Salir</a>
	</body>
</html>