{% extends 'layout.html' %}
{% block section %}
<section style = "padding-top: 20px;">
    <!-- Elements -->
    <h2 id="elements">Mis Vehiculos</h2>
        {% if vehiculos %}
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th scope="col">Patente</th>
                            <th scope="col">Asientos</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in vehiculos %}
                            <tr>
                                <td> {{ v.vehiculo.patente}}</td>
                                <td> {{ v.vehiculo.cantidad_asientos}}</td>
                                <td> {{ v.vehiculo.descripcion}}</td>
                                <td> 
                                    <a href="{{url_for('vehiculo_bp.EliminarVehiculo', idVehiculo=v.id_vehiculo)}}">Eliminar vehiculo</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if mensaje %}
            <a>{{mensaje}}</a>
        {% endif %}
</section>

{% endblock %}