<html>
	<head>
		<title>LLEVAPPME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    </head>
	<body>
        <section>
            {% from "_formhelpers.html" import render_field %}
            <form method="post" action="{{url_for('vehiculo_bp.Vehiculo')}}">
                {{ form.hidden_tag() }}
            <dl>
                {{ render_field(form.patente) }}
                {{ render_field(form.cantidad_asientos) }}
                {{ render_field(form.descripcion) }}
            </dl>
            {{ render_field(form.submit) }}
            </form>
        </section>						

        <a href="{{url_for('usuario_bp.Logout')}}">Salir</a>
	</body>
</html>